* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: blue;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 110px;
    grid-gap: 20px;
    padding: 15px;
  }
  
  .item {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
  }
  
  .cube_1 {
    background-color: #fff;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .cube_2 {
    background-color: #fff;
  }
  .cube_3 {
    background-color: #fff;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .cube_4 {
    background-color: #fff;
  }
  .cube_5 {
    background-color: #fff;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .cube_6 {
    background-color: #fff;
  }
  .cube_7 {
    background-color: #fff;
  }
  .cube_8 {
    background-color: #fff;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .cube_9 {
    background-color: #fff;
  }
  .cube_10 {
    background-color: #fff;
  }
  .cube_11 {
    background-color: #fff;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  